                :root {
                  --background-color: #e8e9e2;
                  --border-color: rgb(139, 139, 139);
                  --font-icon-color: #1c1b1f;                   
                  --highlight-color: #000000;
                  --button-hover-color: #c1c2bd;
                  cursor:auto
                }

                /* theme dark or light */
                html[data-theme='light'] {
                  --background-color: #e8e9e2;
                  --border-color: rgb(139, 139, 139);
                  --font-icon-color: #1c1b1f;                   
                  --highlight-color: #000000;
                  --button-hover-color: #c1c2bd;
                }
                
                html[data-theme='dark'] {
                    --background-color: #11141d;
                    --border-color: #464235;
                    --font-icon-color: #d4ccaf;                   
                    --highlight-color: #f1d98a;
                    --button-hover-color: #272c38;
                }
                /*  */
                
                body {
                  background-color: var(--background-color);
                  display: flex;
                  flex-direction: column;
                  height: 100vh;
                  margin: 0px;
                  overflow: hidden;
                }
      
                /* mouse trailer */
                body:hover > #trailer {
                  opacity: 1;
                }

                #trailer {
                  height: 15px;
                  width: 15px;
                  background-color: rgb(255, 17, 0);
                  mix-blend-mode: difference;
                  border-radius: 20px;
                  border-style: none;
                  
                  position: fixed;
                  left: 0px;
                  top: 0px;
                  z-index: 10000;
                  
                  pointer-events: none;
                  opacity: 0;
                  transition: opacity 500ms ease;
                  
                  display: grid;
                  place-items: center;
                }

                #trailer:not([data-type=""]) > #trailer-icon {
                  opacity: 1;
                }

                #trailer-icon {
                  font-size: 3px;
                  line-height: 2px;

                  opacity: 0;
                  transition: opacity 400ms ease;
                }

                .interactable {
                  margin: 0px;
                }

                .interactable:hover {
                margin: 0px;
                }
                /*  */

                /* HOMEPAGE */
                * {
                  box-sizing: border-box;
                }
                h1 {
                  font-family: 'Archivo', sans-serif;
                  font-weight: 900;
                  font-size: 8svh;
                  color: var(--font-icon-color);
                  margin: 0px;
                }
                h2, h3, a, p, span{
                  font-family: "Archivo", sans-serif;
                  font-weight: 500;
                  color: var(--font-icon-color );
                  margin: 0px;
                }
                a {
                  text-decoration: none;
                }
      
                a:hover {
                  color: var(--highlight-color);
                  font-style: oblique;
                  cursor:none;
                }
                
                /* tooltip */
                /* [data-title]:hover:after {
                  opacity: 1;
                  transition: all 0.1s ease 0.5s;
                  visibility: visible;
              }

              [data-title]:after {
                  content: attr(data-title);
                  background-color: #00FF00;
                  color: #111;
                  font-size: 150%;
                  position: absolute;
                  padding: 1px 5px 2px 5px;
                  bottom: -1.6em;
                  left: 100%;
                  white-space: nowrap;
                  box-shadow: 1px 1px 3px #222222;
                  opacity: 0;
                  border: 1px solid #111111;
                  z-index: 99999;
                  visibility: hidden;
              }
              [data-title] {
                  position: relative;
              } */

                nav {
                  display: flex;
                  width: 100%;
                  border-bottom: 1px solid var(--border-color);
                }
      
                nav .nav-section {
                  padding: 3rem 2rem;
                  display: flex;
                  gap: 1rem;

                  align-items: center;
                  justify-content: center;
                }
      
                #nav-mobile-section {
                  display: flex;
                  flex-basis: calc(100% * (2 / 3));
                  z-index: 2;
                }
      
                #nav-toggle-button { 
                  touch-action: manipulation;
                  align-items: center;
                  background-color: transparent;
                  border: none;
                  border-left: 1px solid var(--border-color);
                  color: var(--font-icon-color);
                  cursor: pointer;
                  display: none;
                  gap: 0.8rem;
                  height: 100%;
                  justify-content: center;
                  outline: none;
                  padding: 0rem 3rem;
                  position: relative;
                  z-index: 3;
                }
      
                #nav-toggle-button:hover,
                #nav-toggle-button:hover > span {
                  touch-action: manipulation;
                  color: var(--highlight-color);
                  cursor: crosshair;
                }
      
                #nav-toggle-button > span,
                #nav-toggle-button > i {
                  color: var(--font-icon-color-color); 
                  display: inline-block;
                  height: 1rem;
                  line-height: 1rem;
                }
      
                #nav-social-section,
                #nav-contact-section {
                  flex-grow: 1;
                  border-left: 1px solid var(--border-color);
                }
      
                #nav-logo-section {
                  flex-basis: calc(100% / 3);
                  /* align-content: stretch */
                  justify-content: space-between;
                }
                

                #nav-logo-section a {
                  font-size: 2rem;
                  font-weight: 900;
                  font-style: oblique;
                  /* justify-content: flex-start; */
                }
      
                #nav-logo-section i{
                  color: var(--font-icon-color);
                  position: relative;
                  font-size: 2rem;
                  font-weight: 900;
                  justify-content: right;
                }

                #nav-link-section {
                  border-left: 1px solid var(--border-color);
                  flex-basis: 50%;
                  gap: 6rem; 
                }
      
                #nav-social-section {
                  gap: 3rem;
                }
      
                main {
                  flex-grow: 1;
                  position: relative;
                  overflow: hidden;
                }
      
                main > article {
                  height: 100%;
                  width: 100%;
                  display: grid;
                  grid-template-columns: 2fr 1fr;
                  grid-template-rows: 2fr 1fr;
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  transition: transform 400ms ease;  
                }
      
                main > article[data-status="inactive"] {
                  transform: translateX(-100%);
                  transition: none;
                }
      
                main > article[data-status="active"] {
                  transform: translateX(0%);
                }
      
                main > article[data-status="before"] {
                  transform: translateX(-100%);
                }
      
                main > article[data-status="after"] {
                  transform: translateX(100%);
                }
      
                main > article[data-status="becoming-active-from-before"] {
                  transform: translateX(-100%);
                  transition: none;
                }
      
                main > article[data-status="becoming-active-from-after"] {
                  transform: translateX(100%);
                  transition: none;
                }
      
                main > article > .article-section {
                  height: 100%;
                  display: flex;
                }
      
                main > article > .article-description-section,
                main > article > .article-nav-section {
                  border-left: 1px solid var(--border-color);
                }
      
                main > article > .article-title-section,
                main > article > .article-nav-section {
                  border-top: 1px solid var(--border-color);
                  border-bottom: 1px solid var(--border-color);
                }

                main > article > .article-nav-section {
                  border-top: 1px solid var(--border-color);
                  border-bottom: 1px solid var(--border-color);
                }
      
                /*sc: UMOCA .gif shop or https://www.instagram.com/ed.lefler*/ 
                main > article:first-child > .article-image-section {
                  background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWRpeGlhazltMHpxd3FhMmI5NHVmcm5xdWhkYXBtc2Q3cTNyamFsZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26BRvIYDe4ILO60Ni/giphy.gif");
                }
                /*https://utahmoca.org/wp-content/uploads/2021/10/ello-optimized-49cfab4b.gif*/
      
                main > article > .article-image-section {
                  background-position: center;
                  background-size: cover;
                }
      
                main > article > .article-description-section {
                  flex-direction: column;
                  justify-content: flex-end;
                  padding: 4rem; 
                }
      
                main > article > .article-description-section > p {
                  color:var(--font-icon-color);
                  font-size: 1.25em;
                }
      
                main > article > .article-description-section > p  > a:hover {
                  text-decoration: underline;
                }
      
                main > article > .article-title-section {
                  align-items: center; 
                  justify-content: space-between;
                  padding: 2rem 4rem;

                }
      
                main > article > .article-title-section * {
                  color: var(--font-icon-color);
                }
      
                main article .article-title-section h2 {
                  flex-basis: 50%;
                  font-family: 'Archivo', sans-serif;
                  font-weight: 900;
                  font-size: 8svh;
                  line-height: 8dvh;
                  margin: 0px;
                  text-transform: uppercase;
                }
                
                main article .article-title-section .inner-headings {
                  
                  height: 8dvh;
                  overflow: hidden;
                }
                
                main article .article-title-section .inner-headings span {
                  position: relative;
                  animation: animation 10s ease infinite;
                }
                
                @keyframes animation {
                  0%,
                  100% {
                    top: 0;
                  }
                  20% {
                    top: 0;
                  }
                  25% {
                    top: -8dvh;
                  }
                  45% {
                    top: -8dvh;
                  }
                  50% {
                    top: -16dvh;
                  }
                  70% {
                    top: -16dvh;
                  }
                  75% {
                    top: -24dvh;
                  }
                  95% {
                    top: -24dvh;
                  }
                }

                main > article > .article-title-section > i {
                  color: var(--font-icon-color);
                  font-size:  8rem;
                }
      
                main > article > .article-nav-section > .article-nav-button {
                  background-color: transparent;
                  flex-grow: 1;
                  border: none;
                  outline: none;
                  font-size: 3rem;
                  cursor: pointer;
                  transition: 0.8s;
                  cursor: crosshair;
                }
      
                main > article > .article-nav-section > .article-nav-button:hover {
                  background-color: var(--button-hover-color);
                  transition: 0.8s;
                  cursor: crosshair;
                }
      
                main > article > .article-nav-section > .article-nav-button:nth-child(2) {
                  border-left: 1px solid var(--border-color);
                }
      
                @media(max-width: 1200px) {    
                  #nav-mobile-section {
                    flex-basis: calc(100% * 0.75);
                  }
      
                  #nav-logo-section {
                    flex-basis: calc(100% * 0.25);
                  }
                  
                  #nav-logo-section span a{
                    font-size: 1.3rem;
                  }

                  #nav-link-section {
                    flex-basis: calc(100% / 3);
                    gap: 3rem;
                  }
      
                  main {
                    overflow-y: auto;
                  }
                  
                  main > article {
                    grid-template-columns: none;
                    grid-template-rows: 1.5fr repeat(3, 0.75fr) 0.25fr;
                    height: max(900px, 100%);
                  }
                  
                  main > article > .article-title-section > h2 {
                    font-size: 3rem; 
                    line-height: 2.6rem;
                  }
                  
                  main > article > .article-title-section > i {
                    font-size: 3rem; 
                  }
                  
                  main > article > .article-description-section,
                  main > article > .article-nav-section {
                    border-left: none;
                  }
      
                  main > article > .article-image-section {
                    order: 1;
                  }
                  
                  main > article > .article-title-section {
                    border-bottom: 1px solid var(--border-color);
                    order: 2;
                  }

                  main article .article-title-section .inner-headings {
                    height: 8dvh;
                    line-height: 8dvh;
                    overflow: hidden;
                  }
                  
                  main article .article-title-section .inner-headings span h2{
                    font-size: 5svh;

                  }
                  
                  main > article > .article-description-section {
                    justify-content: center;
                    order: 3;
                  }
                  
                  main > article > .article-nav-section {
                    border-bottom: 1px solid var(--border-color);
                    order: 4;
                  }
                }
      
                @media(max-width: 800px) {  
                  h1 {
                    font-family: 'Archivo', sans-serif;
                    font-weight: 900;
                    font-size: 4dvh;
                  }
                  nav {
                    justify-content: space-between;  
                  }
                  
                  nav[data-toggled="true"] > #nav-mobile-section {  
                    transform: translateY(0%);
                  }
      
                  nav[data-toggled="true"] > #nav-toggle-button {
                    border-left: none;
                  }
      
                  nav[data-transitionable="true"] > #nav-mobile-section {
                    transition: transform 400ms ease;
                  }
                  
                  nav .nav-section {
                    border-left: none;
                    padding: 1.5rem 1rem;
                  }

                  #nav-logo-section {
                    flex-basis: calc(100% / 2);
                    justify-content: flex-start;
                  }

                  #nav-logo-section span{
                    font-size: 1.3rem;
                  }
                  
                  #nav-mobile-section {
                    border-left: none;
                    background-color: var(--background-color);
                    flex-direction: column;
                    height: 100dvh;
                    width: 100vw;
                    position: fixed;
                    transform: translateY(-100%);
                  } 
                  
                  #nav-toggle-button {
                    touch-action: manipulation;
                    display: flex;
                  }  
                  
                  #nav-link-section {
                    border-left: none;
                    justify-content: flex-end;
                    flex-basis: 60%;
                    flex-direction: column;
                    gap: 4rem;
                  }
                  
                  #nav-link-section > a {
                    font-size: 3rem; 
                  }
                  
                  #nav-social-section > a {
                    font-size: 2rem; 
                  }
                  
                  #nav-social-section{
                    border-left: none;
                  }
                  
                  #nav-contact-section {
                    border-left: none;
                    padding-bottom: 4rem;
                  }
                  
                  main > article {
                    grid-template-rows: 1fr repeat(4, 0.5fr);
                    height: 100%;
                  }
                  
                  main > article > .article-title-section {
                    padding: 2rem;
                  }

                  main article .article-title-section h2 {
                    flex-basis: 50%;
                    font-family: 'Archivo', sans-serif;
                    font-weight: 900;
                    font-size: 4dvh;
                    line-height: 4dvh;
                  }

                  main article .article-title-section .inner-headings {
                    height: 8dvh;
                    overflow: hidden;
                  }
                  
                  main article .article-title-section .inner-headings span {
                    position: relative;
                    justify-self: center;
                    animation: animation 10s ease infinite;
                  }
                  
                  @keyframes animation {
                    0%,
                    100% {
                      top: 0;
                    }
                    20% {
                      top: 0;
                    }
                    25% {
                      top: -8dvh;
                    }
                    45% {
                      top: -8dvh;
                    }
                    50% {
                      top: -16dvh;
                    }
                    70% {
                      top: -16dvh;
                    }
                    75% {
                      top: -24dvh;
                    }
                    95% {
                      top: -24dvh;
                    }
                  }
                  
                  main > article > .article-title-section > h2 {
                    flex-basis: 70%;
                    font-size: 1.75em; 
                    line-height: 10dvh;
                  }
                  
                  main > article > .article-title-section > i {
                    font-size: 2rem; 
                  }
                  
                  main > article > .article-description-section {
                    padding: 2rem;
                  }
                  
                  main > article > .article-description-section > p {
                    font-size: 1rem;
      
                  }
                }
                

                .rotatio{
                  animation: rotation 15s infinite linear;
                }
                
                @keyframes rotation {
                  from {
                    transform: rotate(0deg);
                  }
                  to {
                    transform: rotate(360deg);
                  }
                }

/* page work slides */
          main > slides {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 2fr 1fr;
            position: absolute;
            left: 0px;
            top: 0px;
            transition: transform 600ms ease;  
          }

          main > slides[data-status="inactive"] {
            transform: translateX(-100%);
            transition: none;
          }

          main > slides[data-status="active"] {
            transform: translateX(0%);
          }

          main > slides[data-status="before"] {
            transform: translateX(-100%);
          }

          main > slides[data-status="after"] {
            transform: translateX(100%);
          }

          main > slides[data-status="becoming-active-from-before"] {
            transform: translateX(-100%);
            transition: none;
          }

          main > slides[data-status="becoming-active-from-after"] {
            transform: translateX(100%);
            transition: none;
          }

          main > slides > .slides-section {
            height: 100%;
            display: flex;
          }

          main > slides > .slides-description-section,
          main > slides > .slides-nav-section {
            border-left: 1px solid var(--border-color);
          }

          main > slides > .slides-title-section,
          main > slides > .slides-nav-section {
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
          }

          main > slides:first-child > .slides-image-section {
            background-image: url("https://i.auto-bild.de/mdb/large/10/charade-5ba.jpg");

          }

          main > slides:nth-child(2) > .slides-image-section {
            background-image: url("https://fakhrirozann.github.io/iidsa.png");
          }
          /* }https://images.unsplash.com/photo-1663344010224-a89a22f14bb7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80&auto=format&fit=crop&w=2574&q=80 */
/* https://images.unsplash.com/photo-1628270680011-41792b21de87?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80auto=format&fit=crop&w=1932&q=80&auto=format&fit=crop&w=1035&q=80 */
          main > slides:nth-child(3) > .slides-image-section {
            background-image: url("https://www.yankodesign.com/images/design_news/2020/09/harley-davidson-revival-is-an-electric-motorcycle-envisioned-for-young-riders/Harley-Davidson-Revival_Electric-Motorcycle_-Yanko-Design.jpg");
          }
/* https://images.unsplash.com/photo-1692721430986-6d71f39afe48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80&auto=format&fit=crop&w=927&q=80 */
          main > slides:nth-child(4) > .slides-image-section {
            background-image: url("https://media1.giphy.com/media/3oEhmIDWKdv2yZAaTm/giphy.gif?cid=ecf05e476wqzqtptma4mwsialable4rir4ct3wtwivscdzzk&ep=v1_gifs_related&rid=giphy.gif&ct=g");
          }
/* https://images.unsplash.com/photo-1682686580036-b5e25932ce9a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1975&q=80&auto=format&fit=crop&w=2232&q=80 */
          main > slides:nth-child(5) > .slides-image-section {
            background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/39151e178888885.64efc521d63b5.png");
          }
          main > slides > .slides-image-section {
            background-position: center;
            background-size: cover;  
            align-content: center;
            justify-content: center;
            object-fit:cover ;
            overflow: hidden;
          }

          main > slides > .slides-image-section .video-container {
            position: relative;
            top: 0;
            bottom: 0;
            object-fit: contain;
          }

          main > slides > .slides-image-section .video-container video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }

          main > slides > .slides-description-section {
            flex-direction: column;
            justify-content: flex-end;
            padding: 4rem; 
          }

          main > slides > .slides-description-section > p {
            color: var(--font-icon-color);
            font-size: 1.25em;
          }

          main > slides > .slides-description-section > p  > a:hover {
            text-decoration: underline;
          }

          main > slides > .slides-title-section {
            align-items: center; 
            justify-content: space-between;
            padding: 2rem 4rem;
            cursor: none;
          }

          main > slides > .slides-title-section * {
            color: var(--font-icon-color);
          }


          main > slides > .slides-title-section > i {
            color:var(--font-icon-color);
            font-size:  4rem;
            pointer-events: none;
          }

          main > slides > .slides-title-section > h2 {
            font-weight: 900;
            font-size:  8svh;
          }

          main > slides > .slides-nav-section > .slides-nav-button {
            touch-action: manipulation;
            background-color: transparent;
            flex-grow: 1;
            border: none;
            outline: none;
            color: var(--font-icon-color);
            font-size: 3rem;
            cursor: none;
            transition: 1s;
          }

          main > slides > .slides-nav-section > .slides-nav-button:hover {
            touch-action: manipulation;
            background-color: var(--button-hover-color);
            transition: 0.8s;
          }

          main > slides > .slides-nav-section > .slides-nav-button:nth-child(2) {
            touch-action: manipulation;
            border-left: 0.8px solid var(--border-color);
          }


          @media(max-width: 1200px) {    
            main {
              overflow-y: auto;
            }
            
            main > slides {
              grid-template-columns: none;
              grid-template-rows: 1.5fr repeat(3, 0.75fr) 0.25fr;
              height: max(900px, 100%);
            }
            
            main > slides > .slides-title-section > h2 {
              font-size: 8svh;
              font-weight: 900; 
              line-height: 8dvh;
            }
            
            main > slides > .slides-title-section > i {
              font-size: 3rem;
              pointer-events: none; 
            }
            
            main > slides > .slides-description-section,
            main > slides > .slides-nav-section {
              border-left: none;
            }

            main > slides > .slides-image-section {
              order: 1;
            }
            
            main > slides > .slides-title-section {
              border-bottom: 1px solid var(--border-color);
              order: 2;
            }
            
            main > slides > .slides-description-section {
              justify-content: center;
              order: 3;
            }
            
            main > slides > .slides-nav-section {
              touch-action: manipulation;
              border-bottom: 1px solid var(--border-color);
              order: 4;
            }
          }

          @media(max-width: 800px) {  
            
            #trailer {
              display: none;
            }
            main > slides {
              grid-template-rows: 1fr repeat(4, 0.5fr);
              height: max(700px, 100%);
            }
            
            main > slides > .slides-title-section {
              padding: 2rem;
            }
            
            main > slides > .slides-title-section > h2 {
              flex-basis: 70%;
              font-size: 4svh; 
              line-height: 4dvh;
            }
            
            main > slides > .slides-title-section > i {
              font-size: 2rem; 
            }
            
            main > slides > .slides-description-section {
              padding: 2rem;
            }
            
            main > slides > .slides-description-section > p {
              font-size: 1rem;

            }
          }

